*{
    box-sizing: border-box;
}

body{
    font-size: 1.5em;
}

.contenedor{
    background-color: #fff;
	width: 98%;
    max-width: 1000px;
    margin: auto;
    padding: 2em;
}

table{
    margin: auto;
    border: 5px solid;
    border-top-color: #E5E5E5;
    border-left-color:#E5E5E5;
    border-right-color: gray;
    border-bottom-color: gray;
    /* border: outset 5px; */
    background-color: #25B9F4;
    text-transform: uppercase;
}

tr.encabezado th{
    color: #B3D9B3;
    background-color: #033854;
    padding-left: 0.6em;
    padding-right: 0.6em;
}

/* Colores de fondo filas */
tr{
    background-color: #B3D9B3;
}

tr.oscuro{
    background-color: #80C080;
}

tr td,th{
    border: inset 1px #efefef;
}

/* Numeros centrados */
tr td:nth-child(2){
    text-align: center;
}



/* 480 768 1024 */
@media (max-width: 1024px){
	.contenedor{
		padding-left: 2%;
		padding-right: 2%;
        max-width: 96%;
        overflow: scroll;
	}
}