*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    width: 98%;
    margin: auto;
    max-width: 1000px;
    
    background-image: url(../images/pinguinos.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    position: relative;
    min-height: 100vh;

    display: flex;
    justify-content: center;
}

table{
    margin: auto;

    border: 3px solid;
    border-top-color: #E5E5E5;
    border-left-color:#E5E5E5;
    border-right-color: gray;
    border-bottom-color: gray;

    text-transform: uppercase;
    text-align: center;
    
    width: 100%;
    max-width: 700px;
    background-color: #fff;
    position: relative;
    top: -10vh;
}

.tituloTabla{
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
}

th{
    font-weight: bold;
    text-align: center;
    border: inset 1px black;
}
td{
    border: inset 1px black;
    background-color: #feff97;
}

/* 480 768 1024 */
@media (max-width: 1024px){
	.contenedor{
		padding-left: 2%;
		padding-right: 2%;
		max-width: 96%;
	}
}